@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
* {
  font-family: 'Manrope', sans-serif; }

.container {
  width: 375px;
  height: 700px;
  background-image: url("../images/bg-pattern.svg");
  background-repeat: no-repeat; }
  .container .titleDiv {
    height: 220px;
    background-image: url("../images/pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding-top: 70px; }
    .container .titleDiv h1 {
      font-size: 22px;
      font-weight: bold;
      color: #293356; }
    .container .titleDiv p {
      font-size: 15px;
      color: #858fad; }
  .container .appDiv {
    width: 330px;
    margin: auto;
    background-color: #fafbff; }
    .container .appDiv .rangeSlider {
      height: 160px;
      background-color: #fafbff;
      text-align: center; }
      .container .appDiv .rangeSlider h2 {
        text-transform: uppercase;
        font-size: 13px;
        color: #858fad;
        letter-spacing: 1.3px;
        margin: 20px 0; }
      .container .appDiv .rangeSlider .slider-container {
        width: 90%;
        margin: auto;
        position: relative; }
        .container .appDiv .rangeSlider .slider-container .bar {
          position: absolute;
          z-index: 1;
          left: 2px;
          top: 7px;
          width: 100%;
          height: 10px;
          border-radius: 5px;
          background-color: #eaeefb;
          overflow: hidden; }
          .container .appDiv .rangeSlider .slider-container .bar .fill {
            display: block;
            width: 0;
            height: 100%;
            background-color: #a5f3eb; }
        .container .appDiv .rangeSlider .slider-container .slider {
          position: relative;
          z-index: 2;
          -webkit-appearance: none;
          width: 100%;
          height: 10px;
          border-radius: 5px;
          outline: none;
          background-color: transparent; }
          .container .appDiv .rangeSlider .slider-container .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 35px;
            height: 35px;
            background-color: #10d5c2;
            border-radius: 50%;
            cursor: pointer;
            outline: none;
            box-shadow: 0 0 0 0 rgba(98, 0, 238, 0.1);
            transition: .3s ease-in-out;
            background-image: url("../images/icon-slider.svg");
            background-repeat: no-repeat;
            background-position: center; }
            .container .appDiv .rangeSlider .slider-container .slider::-webkit-slider-thumb:hover {
              box-shadow: 0 0 0 10px rgba(29, 220, 200, 0.1); }
            .container .appDiv .rangeSlider .slider-container .slider::-webkit-slider-thumb:active {
              box-shadow: 0 0 0 20px rgba(12, 192, 173, 0.2); }
      .container .appDiv .rangeSlider .pricingDiv {
        display: flex;
        justify-content: center;
        margin-top: 25px; }
        .container .appDiv .rangeSlider .pricingDiv h3 {
          font-size: 28px;
          font-weight: bold; }
        .container .appDiv .rangeSlider .pricingDiv p {
          font-size: 14px;
          color: #858fad;
          padding: 6px 0 0 7px; }
    .container .appDiv .billingDiv {
      height: 100px;
      display: flex;
      justify-content: center;
      padding-top: 30px; }
      .container .appDiv .billingDiv .monthlyBilling, .container .appDiv .billingDiv .yearlyBilling {
        height: 25px;
        font-size: 13px;
        color: #858fad;
        padding-top: 3px; }
      .container .appDiv .billingDiv .yearlyBilling {
        margin-right: 5px; }
      .container .appDiv .billingDiv .checkboxDiv {
        height: 25px;
        margin: 0 12px; }
        .container .appDiv .billingDiv .checkboxDiv .form-check-input {
          width: 40px;
          height: 20px;
          background-color: #cdd7ee;
          border: none; }
          .container .appDiv .billingDiv .checkboxDiv .form-check-input:focus {
            box-shadow: none; }
          .container .appDiv .billingDiv .checkboxDiv .form-check-input:checked {
            background-color: #10d5c2; }
      .container .appDiv .billingDiv .discount {
        width: 42px;
        height: 25px;
        font-size: 12px;
        border-radius: 10px;
        background-color: #feece7;
        color: #ff8c66;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3px; }
        .container .appDiv .billingDiv .discount p {
          margin: 0;
          padding: 0; }
    .container .appDiv .trialDiv {
      height: 180px;
      text-align: center;
      padding-top: 20px; }
      .container .appDiv .trialDiv p {
        font-size: 13px;
        margin: 0;
        line-height: 2;
        color: #858fad; }
        .container .appDiv .trialDiv p img {
          padding-right: 10px; }
      .container .appDiv .trialDiv button {
        width: 200px;
        border: 0;
        border-radius: 20px;
        background-color: #293356;
        color: #bdccff;
        font-size: 13px;
        padding: 8px 0;
        margin-top: 25px; }
        .container .appDiv .trialDiv button:hover {
          color: white; }

/*# sourceMappingURL=main.css.map */
