@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
@import "partials/variables";

* {
  font-family: 'Manrope', sans-serif;
}

.container-fluid {
  width: 375px;
  background-image: url("../images/bg-pattern.svg");
  background-repeat: no-repeat;
  .titleDiv {
    height: 220px;
    background-image: url("../images/pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding-top: 70px;
    h1 {
      font-size: 22px;
      font-weight: bold;
      color: $darkDesaturatedBlue;
    }
    p {
      font-size: 15px;
      color: $grayishBlue;
    }
  }
  .appDiv {
    width: 330px;
    margin: auto;
    background-color: $veryPaleBlue;
    .rangeSlider {
      height: 160px;
      background-color: $veryPaleBlue;
      text-align: center;
      h2 {
        text-transform: uppercase;
        font-size: 13px;
        color: $grayishBlue;
        letter-spacing: 1.3px;
        margin: 20px 0;
      }
      .slider-container {
        width: 90%;
        margin: auto;
      	position: relative;
        .bar {
          position: absolute;
        	z-index: 1;
        	left: 2px;
        	top: 7px;
        	width: 100%;
        	height: 10px;
        	border-radius: 5px;
        	background-color: $lightGrayishBlue;
        	overflow: hidden;
          .fill {
            display: block;
          	width: 0;
          	height: 100%;
          	background-color: $softCyan;
          }
        }
        .slider {
          position: relative;
        	z-index: 2;
        	-webkit-appearance: none;
        	width: 100%;
        	height: 10px;
        	border-radius: 5px;
        	outline: none;
        	background-color: transparent;
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
          	width: 35px;
          	height: 35px;
          	background-color: $strongCyan;
          	border-radius: 50%;
          	cursor: pointer;
          	outline: none;
          	box-shadow: 0 0 0 0 rgba(98,0,238,.1);
          	transition: .3s ease-in-out;
            background-image: url("../images/icon-slider.svg");
            background-repeat: no-repeat;
            background-position: center;
            &:hover {
              box-shadow: 0 0 0 10px rgba(29,220,200,.1);
            }
            &:active {
              box-shadow: 0 0 0 20px rgba(12,192,173,.2);
            }
          }
        }
      }
      .pricingDiv {
        display: flex;
        justify-content: center;
        margin-top: 25px;
        h3 {
          font-size: 28px;
          font-weight: bold;
        }
        p {
          font-size: 14px;
          color: $grayishBlue;
          padding: 6px 0 0 7px;
        }
      }
    }
    .billingDiv {
      height: 100px;
      display: flex;
      justify-content: center;
      padding-top: 30px;
      .monthlyBilling, .yearlyBilling {
        height: 25px;
        font-size: 13px;
        color: $grayishBlue;
        padding-top: 3px;
      }
      .yearlyBilling {
        margin-right: 5px;
      }
      .checkboxDiv {
        height: 25px;
        margin: 0 12px;
        .form-check-input {
          width: 40px;
          height: 20px;
          background-color: $lightGrayishBlue2;
          border: none;
          &:focus {
            box-shadow: none;
          }
          &:checked {
            background-color: $strongCyan;
          }
        }
      }
      .discount {
        width: 42px;
        height: 25px;
        font-size: 12px;
        border-radius: 10px;
        background-color: $lightGrayishRed;
        color: $lightRed;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3px;
        p {
          margin: 0;
          padding: 0;
          span {
            display: none;
          }
        }
      }
    }
    .trialDiv {
      height: 180px;
      text-align: center;
      padding-top: 20px;
      p {
        font-size: 13px;
        margin: 0;
        line-height: 2;
        color: $grayishBlue;
        img {
          padding-right: 10px;
        }
      }
      br {
        display: none;
      }
      button {
        width: 200px;
        border: 0;
        border-radius: 20px;
        background-color: $darkDesaturatedBlue;
        color: $paleBlue;
        font-size: 13px;
        padding: 8px 0;
        margin-top: 25px;
        transition: .3s;
        &:hover {
          color: $white;
        }
      }
    }
  }
  .codedBy {
    text-align: center;
    font-size: 12px;
    margin-top: 40px;
  }
}

// MEDIA QUERY

@media (min-width: 1200px) {
  .container-fluid {
    width: 100%;
    background-size: contain;
    .titleDiv {
      height: 270px;
      padding-top: 100px;
      h1 {
        font-size: 28px;
      }
      p {
        padding-top: 4px;
        br {
          display: none;
        }
      }
    }
    .appDiv {
      width: 530px;
      .rangeSlider {
        height: 160px;
        text-align: left;
        position: relative;
        h2 {
          font-size: 14px;
          padding: 20px 0 0 36px;
        }
        .slider-container {
          padding-top: 20px;
          .bar {
          	top: 27px;
          	height: 8px;
          }
        }
        .pricingDiv {
          margin-top: 0;
          justify-content: flex-end;
          position: absolute;
          top: 20px;
          right: 20px;
          h3 {
            font-size: 40px;
          }
          p {
            font-size: 15px;
            padding: 14px 0 0 7px;
          }
        }
      }
      .billingDiv {
        height: 60px;
        padding-top: 0px;
        .discount {
          width: 100px;
          p {
            margin: 0;
            padding: 0;
            span {
              display: block;
              float: right;
              padding-left: 3px;
            }
          }
        }
      }
      .trialDiv {
        height: 141px;
        text-align: left;
        padding-top: 30px;
        position: relative;
        p {
          line-height: 0;
        }
        br {
          display: block;
        }
        button {
          width: 180px;
          position: absolute;
          top: 24px;
          right: 20px;
        }
      }
    }
  }
}
